// CSS FOR SCOREBOARD

.scoreboard
	display grid
	grid-template-columns repeat(12, 1fr)
	grid-gap 10px
	.sbt-minutes
		font-weight bolder
		grid-column 1 / 3
	.sbt-time
		grid-column 3 / 11
	.sbt-seconds
		font-weight bolder
		grid-column 11 / 13
	.sbt-minutes,
	.sbt-time,
	.sbt-seconds
		grid-row 1 / 2
	.sbs-home-title,
	.sbs-home-score
		grid-column 1 / 5
	.sbs-inning-title,
	.sbs-inning-inning
		grid-column 5 / 9
	.sbs-guests-title,
	.sbs-guests-score
		grid-column 9 / 13
	.sbs-home-title,
	.sbs-inning-title,
	.sbs-guests-title
		font-weight bolder
		grid-row 2 / 3
	.sbab-ball-title,
	.sbab-ball-score
		grid-column 1 / 5
	.sbab-strike-title,
	.sbab-strike-score
		grid-column 5 / 9
	.sbab-foul-title,
	.sbab-foul-score
		grid-column 9 / 13
	.sbab-hit-title,
	.sbab-hit-score
		grid-column 10 / 13
	//.sbab-ball-title,
	//.sbab-ball-score
	//	grid-column 1 / 4
	//.sbab-strike-title,
	//.sbab-strike-score
	//	grid-column 4 / 7
	//.sbab-foul-title,
	//.sbab-foul-score
	//	grid-column 7 / 10
	//.sbab-hit-title,
	//.sbab-hit-score
	//	grid-column 10 / 13
	.sbab-ball-title,
	.sbab-strike-title,
	.sbab-foul-title,
	.sbab-hit-title
		font-weight bolder
		grid-row 4 / 5